export ADYEN_USERNAME="YOUR_ADYEN_API_USERNAME"
export ADYEN_PASSWORD="YOUR_ADYEN_CLIENT_TOKEN"
export ADYEN_CLIENT_TOKEN="YOUR_ADYEN_CLIENT_TOKEN"
export ADYEN_ACCOUNT="YOUR_MERCHANT_ACCOUNT"

# API settings for Adyen Hosted Payment pages
export ADYEN_HMAC="YOUR_HMAC_KEY"
export ADYEN_SKINCODE="YOUR_SKINCODE_ID"
export ADYEN_SHOPPER_LOCALE="YOUR_SHOPPER_LOCALE"
