{{define "authorise_encypted"}}
<h3>Perform Authorise (Encrypted)</h3>

<form method="POST" id="adyen-encrypted-form" action="/perform_payment">
  <div class="mdl-grid">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
      <input class="mdl-textfield__input" value="10.99" name="amount" id="amount" pattern="-?[0-9]*(\.[0-9]+)?">
      <label class="mdl-textfield__label" for="amount">Amount</label>
      <span class="mdl-textfield__error">Input is not a number!</span>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
      <input class="mdl-textfield__input" value="DE-1234567" name="reference" id="reference">
      <label class="mdl-textfield__label" for="reference">Reference (Order Number)</label>
    </div>
  </div>
  <div class="mdl-grid">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
      <input class="mdl-textfield__input" type="text" id="number" autocomplete="off" data-encrypted-name="number" size="20">
      <label class="mdl-textfield__label" for="number">Card Number</label>
    </div>
  </div>
  <div class="mdl-grid">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
      <input class="mdl-textfield__input" type="text" id="holderName" autocomplete="off" data-encrypted-name="holderName" size="20">
      <label class="mdl-textfield__label" for="holderName">Account Holder</label>
    </div>
  </div>
  <div class="mdl-grid">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
      <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*?" id="expiryMonth" autocomplete="off" data-encrypted-name="expiryMonth" size="2" maxlength="2">
      <label class="mdl-textfield__label" for="expiryMonth">Month</label>
      <span class="mdl-textfield__error">Month should be numberic (2 digits)</span>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
      <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*?" id="expiryYear" autocomplete="off" data-encrypted-name="expiryYear" size="4" maxlength="4">
      <label class="mdl-textfield__label" for="expiryYear">Year</label>
      <span class="mdl-textfield__error">Year should be numberic (4 digits)</span>
    </div>
  </div>
  <div class="mdl-grid">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
      <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*?" id="cvc" autocomplete="off" data-encrypted-name="cvc" size="4" maxlength="4">
      <label class="mdl-textfield__label" for="cvc">CSV</label>
      <span class="mdl-textfield__error">CSV should be numberic (3-4 digits)</span>
    </div>
  </div>
  <div class="mdl-grid">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
      <input class="mdl-textfield__input" type="text" id="shopperReference" name="shopperReference" autocomplete="off">
      <label class="mdl-textfield__label" for="shopperReference">Shopper Reference</label>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
      <label class="mdl-switch mdl-js-switch mdl-js-ripple-effect" for="is_recurring">
        <input type="checkbox" id="is_recurring" name="is_recurring" class="mdl-switch__input">
          <span class="mdl-switch__label">Is Recurring</span>
      </label>
    </div>
  </div>
  <div class="mdl-grid">
    <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--8-col"></div>
    <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--4-col">
      <input type="hidden" value="" name="adyen-encrypted-data" id="adyen-encrypted-data" />
      <input type="hidden" value="{{ .Time }}" data-encrypted-name="generationtime" />
      <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
        Perform payment
      </button>
    </div>
  </div>
</form>
{{end}}
