{{define "authorise"}}
<h3>Adyen Perform Authorise</h3>

<form method="POST" id="adyen-card-form" action="/perform_payment">
  <div class="mdl-grid">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
      <input class="mdl-textfield__input" type="text" name="number" id="n_number" size="20">
      <label class="mdl-textfield__label" for="n_number">Card Number</label>
    </div>
  </div>
  <div class="mdl-grid">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
      <input class="mdl-textfield__input" type="text" name="holderName" id="n_holderName">
      <label class="mdl-textfield__label" for="n_number">Account Holder</label>
    </div>
  </div>
  <div class="mdl-grid">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
      <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*?" name="expiryMonth" id="n_expiryMonth" autocomplete="off" size="2" maxlength="2">
      <label class="mdl-textfield__label" for="n_expiryMonth">Month</label>
      <span class="mdl-textfield__error">Month should be numberic (2 digits)</span>
    </div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
      <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*?" name="expiryYear" id="n_expiryYear" autocomplete="off" size="4" maxlength="4">
      <label class="mdl-textfield__label" for="n_expiryYear">Year</label>
      <span class="mdl-textfield__error">Year should be numberic (4 digits)</span>
    </div>
  </div>
  <div class="mdl-grid">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--6-col">
      <input class="mdl-textfield__input" type="text" pattern="-?[0-9]*?" name="cvc" id="n_cvc" autocomplete="off" size="4" maxlength="4">
      <label class="mdl-textfield__label" for="n_cvc">CSV</label>
      <span class="mdl-textfield__error">CSV should be numberic (3-4 digits)</span>
    </div>
  </div>
  <div class="mdl-grid">
    <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--8-col"></div>
    <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--4-col">
      <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
        Perform payment
      </button>
    </div>
  </div>
</form>
{{end}}
