{{define "recurring_list"}}
<h3>Recurring methods</h3>

<form method="POST" id="adyen-recurring-list" action="/perform_recurring_list">
    <div class="mdl-grid">
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label mdl-cell mdl-cell--12-col">
            <input class="mdl-textfield__input" type="text" name="shopperReference" id="shopperReference">
            <label class="mdl-textfield__label" for="shopperReference">Shopper Reference</label>
        </div>
    </div>
    <div class="mdl-grid">
        <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--8-col"></div>
        <div class="mdl-textfield mdl-js-textfield mdl-cell mdl-cell--4-col">
            <button type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                Get List
            </button>
        </div>
    </div>
</form>
{{end}}
